:root {
    background-color: #ededed;
}
  
html {
    margin: 3px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
}

a:hover {
    cursor: pointer;
    color: #ca2d05;
}
  

a:link {
    list-style-type: none;
    text-decoration: none;
    
}

li a {
    color: black;
    font-weight: bold;
}

a:visited {
    text-decoration: none;
  }
    
a:active {
    text-decoration: burlywood;
  }

ul {
    list-style-type: none;
    padding: 0px;
    color: black;
  }

  .navigation-1 {
    color: black;
  }

  li {
    padding: 5px;
    background: white;
    margin-bottom: 2px;
  }

img {
    justify-content: center;
    max-width: 100%;
}

div .my-intro img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

div .main-nav {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}


h1, footer p {
    font-family: "Brush Script MT", cursive; 
    font-size: 24px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px; 
}

nav {
    text-align: center;
    display: block;
    
    width: 85%;
}

p, h2, h3 {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    
}

h2 {
    font-size: 16px;
    padding: 20px;
    padding-bottom: 0px;
}

h3 {
    margin-top: 10px;
}

.portfolio {
    background-color: white;
    margin-bottom: 20px;
    box-shadow: 3px 3px 3px grey;
}



.skills {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: white;
    margin-bottom: 20px;
    box-shadow: 3px 3px 3px grey;
}

.ping {
    margin-bottom: 35px;
}


div .calc {
    padding-bottom: 30px;
}

div .calc-2 {
    padding-bottom: 30px;
}

.call a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    color: rgb(16, 179, 162);
}

.my-contact {
    padding-bottom: 5px;
}

.skills {
    padding-top: 5px;
    padding-bottom: 5px;
}

footer .navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    font-size: 16px;
}

.navigation {
    border-top: 2px solid #cccccc;
}

footer nav {
    display: none;
}

footer nav li {
    display: inline;
    margin-right: 1rem;
}

.call a:hover {
    color: #ca2d05;
}

/* media queries */

@media (min-width: 768px) {

    :root {
        background-color: #f7f1f1;
    }

    header .main-nav {
    display: flex;
    flex-direction: column;
    }
    nav li {
        display: inline;
        padding-left: 30px;
}

h2 {
    font-weight: bold;
    font-size: 20px;
    padding: 30px;
}
   
nav li {
        display: inline-block;
        background-color: transparent;
}

.my-intro {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 25px;
        padding: 16px;
        padding-left: 0px;
}

.caption-me {
    text-align: left;
    font-size: 20px;
}

.ping-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
}

.ping-container .ping {
        width: 45%;
        margin: 0.5rem;
}

div .my-intro img {
    width: initial;
}

.skills-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.skills-container .pong {
    width: 45%;
    margin: 0.5rem;
}

.vrai {
    padding-left: 9.3rem;
    padding-right: 9.3rem;
    margin-bottom: 15px;
    margin-top: 25px;
}

.call {
    margin-bottom: 40px;
}

footer .navigation-1 {
    display: none;
}

.navigation nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        
}
}

@media (min-width: 1024px) {
    .ping-container .ping {
        width: 30%;
        /* margin: 35px */
}

header .main-nav nav {
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;

}



.vrai {
    padding-left: 18rem;
    padding-right: 18rem;
    
}

.skills-container .pong {
    width: 30%;
    /* margin: 35px */
}

.caption-me {
    text-align: left;
    font-size: 25px;
}

p {
    font-size: 20px;
}

}